<!DOCTYPE html>
<html lang="fa">
    <head>

        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="" />
        <!-- Title -->
        <title></title>
        <!-- Bootstrap CSS -->
<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <!-- Theme CSS -->

        <link rel="stylesheet" href="assets/css/style.css?v=1.5" />
        <link rel="stylesheet" href="assets/css/responsive.css?v=1.5" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="#"><img src="assets/images/CS50x Iran final 1.png" alt="" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <svg width="4" height="16" viewBox="0 0 4 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2 4C3.1 4 4 3.1 4 2C4 0.9 3.1 0 2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4ZM2 6C0.9 6 0 6.9 0 8C0 9.1 0.9 10 2 10C3.1 10 4 9.1 4 8C4 6.9 3.1 6 2 6ZM2 12C0.9 12 0 12.9 0 14C0 15.1 0.9 16 2 16C3.1 16 4 15.1 4 14C4 12.9 3.1 12 2 12Z"
                                fill="white"
                            ></path>
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">صفحه اصلی</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">درباره ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <a href="#" class="btn btn-top" id="fixedBtn">
                <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.384713L20 11.001L18.6 12.4873L10 3.35727L1.4 12.4873L0 11.001L10 0.384713Z" fill="white" />
                </svg>
            </a>
            <section>
                <div class="title-page-section" id="fixedBtnCount">
                    <div class="container">
                        <div class="box">
                            <h1>درباره ما</h1>
                            <div class="line"></div>
                            <p>آشنایی با اعضای تیم ما</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="clip-path">
                    <img class="bg-fixed-top" src="assets/images/bg.png" alt="" />
                </div>
            </section>
            <section>
                <div class="about-us-section text-center">
                    <div class="container">
                        <h2>
                            با هم در کنار هم میترکونیم
                        </h2>
                        <div class="video-box text-center">
{#                            <video poster="assets/images/video.png" controls>#}
{#                                <source src="./01-DOM-vs-BOM.mp4" type="video/mp4" />#}
{#                                <source src="movie.ogg" type="video/ogg" />#}
{#                                Your browser does not support the video tag.#}

{#                            </video>#}
                            <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/y9Rbc/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
                        </div>
                        <div class="border-top text-center"></div>
                        <h3>
                            معرفی دوره علوم کامپیوتر هاروارد
                        </h3>
                        <p>
                         سی‌اس‌فیفتی CS50 دوره‌ی آموزشی مبانی علوم کامپیوتر هاروارد است که هرساله علاوه بر دانشگاه هاروارد و یل در سایر نقاط دنیا توسط نمایندگان محلی برگزار می‌شود.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="member-section text-center">
                    <div class="container">
                        <div class="border-top text-center"></div>
                        <h3>اعضای تیم سی اس فیفتی</h3>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/nima.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>نیما سالارکیا</h5>
                                        <span>Founder and Organizer</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/foroughi.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>امیرحسین فروغی</h5>
                                        <span>Head teaching fellow</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/zahra.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>زهرا حقگو</h5>
                                        <span>Head of the scientific team</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/moazen.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>محمد مؤذن</h5>
                                        <span>Marketing Manager</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/amirhossein.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>امیرحسین دهقان</h5>
                                        <span>Technical Manager</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/mahdi.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>مهدی مؤذن</h5>
                                        <span>Adviser to Head team lead</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/bastani.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>امیرعلی باستانی</h5>
                                        <span>Team lead(Executive)</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/habib.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>حبیب جعفری</h5>
                                        <span>Team lead(Support)</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/jafari.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>مهدی جعفری</h5>
                                        <span>Marketing Team</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/armin.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>آرمین دارابی</h5>
                                        <span>Teacher Assistant</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/rafiei.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>مهدی رفیعی</h5>
                                        <span>Teacher Assistant</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/araghi.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>حسین عراقی</h5>
                                        <span>Teacher Assistant</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/darya.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>دریا شیرمحمد جوزانی</h5>
                                        <span>Teacher Assistant</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/foroutan.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>محد فروتن نژاد</h5>
                                        <span>Support Team</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/sahar.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>سحر حلاجی</h5>
                                        <span>Support Team</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/alireza.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>علیرضا مرتضایی</h5>
                                        <span>Teacher Assistant</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/soheil.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>سهیل مهریزی</h5>
                                        <span>Teacher Assistant</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/honarvar.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>محمد هنرور</h5>
                                        <span>Support Team</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <div class="col-lg-4">
                                <div class="member-detailes">
                                    <div class="top">
                                        <img src="assets/images/azad.jpg" alt="" />
                                    </div>
                                    <div class="bottom">
                                        <div class="border-top-white"></div>
                                        <h5>امیرحسین آزاد</h5>
                                        <span>Teacher Assistant</span>

                                        <div class="social">
                                            <div class="border-white"></div>
                                            <ul>
                                                <li class="social-item">
                                                    <a href=""><img src="assets/images/social/linkedin.png" width="21" alt="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-circle">
                        <img src="assets/images/d 2.png" alt="" />
                    </div>
                </div>
            </section>
        </main>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <footer>
            <div class="container">

                <hr />
                <div class="copy-right">
                    <p>تمامی حقوق در سی اس فیفتی ایران محفوظ می باشد</p>
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
<!--        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>-->
        <script src="assets/js/main.js?v=1.5"></script>
        <!-- /scripts -->
    </body>
</html>
